<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{css/style.css}">
</head>
<body>
<header>
    <img src="../static/img/Nytlogo.png" th:src="@{img/Nytlogo.png}" alt="Logo" class="header-logo">
    <h1 class="header-text">Danmark mod madspild</h1>
</header>

<div class="container" style="text-align: center;">
    <div class="button-container">
        <a href="/" class="round-button">Forside</a>
    </div>
    <div class="button-container dropdown-container">
        <a href="/forbruger" class="round-button">Forbruger</a>
        <div class="dropdown-content">
            <a href="/ForbrugerInfo">Info</a>
        </div>
    </div>
    <div class="button-container dropdown-container">
        <a href="/virksomhederForside" class="round-button">Virksomheder</a>
        <div class="dropdown-content">
            <a href="/virksomhederkontakt">Kontakt</a>
        </div>
    </div>
    <div class="button-container dropdown-container">
        <a href="/organisationerforside" class="round-button">Organisationer</a>
        <div class="dropdown-content">
            <a href="/SSL">Stop Spild Lokalt</a>
            <a href="/TGTG">Too Good To Go</a>
            <a href="/MNSTRT">Fødevarestyrelsen</a>
            <a href="/LNDBRG">Landbrugsstyrrelsen</a>
        </div>
    </div>
</div>


</body>
</html>