<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MNSTRT</title>

    <link rel="stylesheet" href="../static/CSS/style.css" th:href="@{css/style.css}">
</head>
<body>
<div class="background1">
    <div class="text-container">
        <div class="bigTextOptionLeft">"Når vi smider mad ud, så spilder vi både selve fødevaren og
            alle de ressourcer, der er brugt til at fremstille den.

            <br>Det er miljø- og klimabelastende, og det er spild af penge."</div>
    </div>
    <img class="pictureOrganisation2" src="../static/img/ministerenerpåbesøg.png" th:src="@{img/ministerenerpåbesøg.png}" width="45%" height="auto">
</div>
<div class="background3">
    <div class="centered-container">
        <div class="text-container">
            <div class="highlightedChoice"><strong>Om Os</strong></div>
        </div>
        <div class="flex-container">
            <div class="smallTextOption">Det er regeringens ambition at fremme miljø- og klimavenlige løsninger, og at sikre, at vi også i fremtiden
                kan brødføde jordens voksende befolkning med begrænsede ressourcer til rådighed.</div>
            <br>
        </div>
        <div class="flex-container">
            <div class="smallTextOption" style="margin-top: 50px">”Inden 2030 skal det globale madaffald (inkl. madspild, red.) på detail- og forbrugerniveau
                pr. indbygger halveres og fødevaretab i produktions- og forsyningskæder, herunder tab af afgrøder efter høst, skal reduceres."
                <br><br>Regeringen har løbende projekter kørende som aktivt arbejder med at nedbringe Danmarks madspild, inklusivt et partnerskab med Tænketanken ONE\THIRD.<br><br>
            Hvis du ønsker at læse mere om madspild og hvad ministeriet gør for at bekæmpe, klik nedenstående.</div>
            <img class="pictureOrganisation2" src="../static/img/ministermadhjælp.jpg" th:src="@{img/ministermadhjælp.jpg}" width="45%" height="30%">
        </div>
        <div class="button-container">
            <a href="https://fvm.dk/test/madspild" class="round-button" style="margin-top: 50px">Læs mere Her</a>
        </div>
    </div>
</div>
</body>

<footer>
    <p>&copy; 2024 Kinky Fætter. All rights reserved.</p>
</footer>

</body>
</html>
