<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>vrkkntkt</title>

  <link rel="stylesheet" href="../static/CSS/style.css" th:href="@{css/style.css}">
</head>
<body>
<div class="background1">
  <div class="text-container">
    <div class="bigTextOptionLeft">I en ny forening med navnet Danmark mod Madspild forpligter de deltagende
      virksomheder sig til at følge Salling Groups eksempel og halvere deres madspild inden 2030 - i overensstemmelse med FN's verdensmål om bæredygtigt forbrug.</div>
  </div>
  <img class="pictureOrganisation2" src="../static/img/perbank.jpg" th:src="@{img/perbank.jpg}" width="45%" height="90%">
</div>
<div class="background3">
  <div class="centered-container">
    <div class="text-container">
      <div class="highlightedChoice"><strong>Hjælp Os</strong></div>
    </div>
    <div class="flex-container">
      <div class="smallTextOption">Du og din virksomhed kan melde sig ind i kampen mod madspild, og hjælpe os med at
      nedskære Danmarks madspild inden 2030.</div>
      <br>
    </div>
    <div class="flex-container">
      <div class="smallTextOption" style="margin-top: 50px">”Inden 2030 skal det globale madaffald (inkl. madspild, red.) på detail- og forbrugerniveau
        pr. indbygger halveres og fødevaretab i produktions- og forsyningskæder, herunder tab af afgrøder efter høst, skal reduceres."
        <br><br>For at deltage i kampen kan du kontakte vores samarbejdende virksomhedspartnere direkte, eller nogle af organisationerne som vi samarbejder
        med, som kan findes under organisationer.</div>
      <img class="pictureOrganisation2" src="../static/img/ministermadhjælp.jpg" th:src="@{img/ministermadhjælp.jpg}" width="45%" height="30%">
    </div>
  </div>
</div>
</body>

<footer>
  <p>&copy; 2024 Kinky Fætter. All rights reserved.</p>
</footer>

</body>
</html>
